@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff !important;
}

/* Style for navbar */
.navbar {
    display: flex;
    flex-direction: column;
}

.navbar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: transparent !important;
}

.nav-link {
    color: white;
}

/* Style for line below nav */
.line {
    width: 100%;
    height: 0.1px;
    background-color: rgba(255, 255, 255, 0.151);
    margin-top: 15px;
}

/* Style main banner */
.image-container {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(60, 10, 114, 0.9);
    pointer-events: none;
}

.banner-content {
    position: absolute;
    top: 45%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    color: white;
    padding: 20px;
    width: 90%;
    max-width: 1000px; 
}

.banner-content h1 {
    font-size: 4.5rem; 
    font-family: 'Baloo 2', cursive;
    margin: 0; 
}

.banner-content p {
    font-size: 1.6rem; 
    font-family: 'Baloo 2', cursive;
    margin: 0 auto; 
    text-align: center;
}



/* Style for floating section */

.floating-section {
    position: relative;
    top: -12vh;
    left: 10%;
    width: 80%;
    box-sizing: border-box;
    z-index: 5;
    display: flex;
    justify-content: center;
}

.toys-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    width: 60%;
}

.toy-card {
    background-color: white;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: transform 0.3s ease;
}

.toy-card:hover {
    transform: scale(1.05); 
}

.toy-image {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
}

.toy-title {
    font-size: 18px;
    margin-top: 10px;
    color: #6A0DAD;
}

.toy-description {
    font-size: 14px;
    color: #555;
}


.btn-talk-stats {
    appearance: button;
    backface-visibility: hidden;
    background-color: rgba(60, 10, 114, 0.9);
    border-radius: 6px;
    border-width: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    height: 44px;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    width: 100%;
    transition: background-color 0.3s ease, filter 0.3s ease;

}

.btn-talk-stats:hover {
    background-color: rgba(60, 10, 114, 0.9) !important;
    filter: brightness(80%);
}

.btn-about-more {
    appearance: button;
    backface-visibility: hidden;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid white;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    height: 44px;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    transition: background-color 0.3s ease, filter 0.3s ease;
}




/* Style for events section */
.events-container {
    background-color: #f5f5f5; 
    padding: 100px 200px 0px 200px;
    box-sizing: border-box;
}

.events-title {
    font-size: 2rem;
    margin-bottom: 92px;
    text-align: center;
}

.search-container {
    display: flex;
    justify-content: flex-start;
}

.search-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

.search-button {
    border: 1px solid #cccccc;
    border-left: none;
    background-color: #6A0DAD;
    color: white;
    padding: 10px 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.events-list {
    max-height: 430px; 
    overflow-y: auto; 
    padding-right: 15px; 
    margin-bottom: 20px;
}

.event-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.event-date {
    width: 100px;
    font-weight: bold;
    font-size: 16px;
    color: #023E8A; 
}

.event-image img {
    width: 180px; 
    height: 120px;
}

.event-text {
    flex: 1;
    padding: 0 20px;
}

.btn-event-book {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-event-book:hover {
    background-color: #0056b3;
}

.events-list::-webkit-scrollbar {
    width: 10px;
}

.events-list::-webkit-scrollbar-thumb {
    background-color: #007BFF;
    border-radius: 10px;
}

.events-list::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.filter-select {
    position: relative;
    width: 100%;
    max-width: 300px; 
}

.filter-select select {
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px 20px;
    width: 100%;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.filter-select select:hover {
    background-color: #e0e0e0; 
}

.filter-select select:focus {
    border-color: none; 
    box-shadow: none; 
}

.filter-select::after {
    content: '▼'; 
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 12px;
    color: #333;
    pointer-events: none; 
}




@media (max-width: 768px) {
    .banner-content h1 {
        font-size: 3rem; 
    }

    .banner-content p {
        font-size: 1.2rem; 
        max-width: 90%; 
    }
}

@media (max-width: 480px) {
    .banner-content h1 {
        font-size: 2rem; 
    }

    .banner-content p {
        font-size: 1rem; 
        max-width: 100%; 
    }
}