@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    /* background-color: #ffffff; */
    background-color: #f8fcfc;
}

/* Style for navbar */
.navbar {
    display: flex;
    flex-direction: column;
}

.navbar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: transparent !important;
}

.nav-link {
    color: white;
}

/* Style for line below nav */
.line {
    width: 100%;
    height: 0.1px;
    background-color: rgba(255, 255, 255, 0.151);
    margin-top: 15px;
}

/* Style main banner */
.image-container {
    position: relative;
    width: 100%;
    height: 65vh;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(60, 10, 114, 0.9);
    pointer-events: none;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 20px;
    max-width: 80%;
}

.banner-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.banner-content p {
    font-size: 1.25rem;
}


/* Style for floating section */
.floating-section {
    position: absolute;
    top: 60vh;
    left: 10%;
    width: 80%;
    height: 100px;
    background-color: white;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    padding: 20px;
    box-sizing: border-box;
    z-index: 5;
    border-radius: 8px;
}

.floating-section .statistics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.floating-section .stat-box {
    max-width: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    color: #333;
    flex-direction: column;
    padding: 10px;
}

.floating-section .stat-box i {
    font-size: 1.7rem;
    margin-bottom: 8px;
}

.floating-section .number-item {
    font-size: 1.5rem;
    font-weight: bold;
}

.floating-section .stat-item {
    font-size: 1rem;
}

.floating-section .number-stats {
    display: flex;
    align-items: baseline;
}

.btn-talk-stats {
    appearance: button;
    backface-visibility: hidden;
    background-color: rgba(60, 10, 114, 0.9);
    border-radius: 6px;
    border-width: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    height: 44px;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    width: 100%;
    transition: background-color 0.3s ease, filter 0.3s ease;

}

.btn-talk-stats:hover {
    background-color: rgba(60, 10, 114, 0.9) !important;
    filter: brightness(80%);
}


/* events section */
.events-container {
    margin-top: 150px;
}


.events-container h2 {
    position: relative;
    display: inline-block;
    padding-left: 20px;
}

.events-container h2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: black;
}

.mainEvents {
    display: flex;
    align-items: center;
}

.rectangle-container {
    display: flex;
    margin-top: 50px;
    margin: 0px;
}

.rectangle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 130px;
    margin-right: 10px;
    background-color: #ffffff;
    border-radius: 1px;
    border: 0px;
    padding: 0px 10px 0px 10px;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-weight: 600;
    color: #686868;
}

.rectangle:focus,
.rectangle.selected {
    background-color: rgba(60, 10, 114, 0.9);
    outline: none;
    color: white;
}

.search-container {
    position: relative;
    display: inline-flex;
    width: 30%;
    height: fit-content;
}

.search-input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #cccccc8f;
    border-radius: 3px;
    font-size: 16px;
}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;
    border: none;
    background-color: rgba(60, 10, 114, 0.9);
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button .fa-search {
    font-size: 18px;
}

.search-input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}


.custom-select-container {
    position: relative;
    width: 200px;
    font-family: Arial, sans-serif;
}

.custom-select-container select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #333;
    border: none;
    background-color: transparent;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
}

.custom-select-container::after {
    content: '\25BC'; 
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #333;
    pointer-events: none;
}

.custom-select-container select:focus {
    outline: none;
}

.event-image img {
    max-width: 100%;
    max-height: 500px; 
    width: auto;
    height: auto;
    object-fit: contain; 
}

