@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

body {
  font-family: 'Baloo 2', cursive;
  background-color: #ffffff !important;
}


.line-left,
.line-right {
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background-color: black;
}

.line-left {
  left: 0;
  transform: translateY(-60%);
}

.line-right {
  right: 0;
  transform: translateY(-50%);
}

/* Style for navbar */
.navbar {
  display: flex;
  flex-direction: column;
}

.container-nav-contents {
  padding-left: 100px;
  padding-right: 100px;
}

.navbar-overlay {
  position: absolute;
  top: 45;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent !important;
}

.nav-link {
  color: white;
  font-size: 20px;
  margin-right: 8px;
}

.nav-link:hover {
  color: #74b652;
}

.navbar-collapse {
  padding: 10px;
}

.collapse.show {
  background-color: rgba(0, 0, 0, 0.8);
}

.collapse.show .nav-link {
  color: white;
}


.image-container {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top,
      rgba(60, 10, 114, 1.0) 25%,
      rgba(60, 10, 114, 0.9) 45%,
      rgba(60, 10, 114, 0.8) 75%,
      rgba(60, 10, 114, 0.8) 100%);
  pointer-events: none;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  padding: 20px;
  width: 100%;
}

.banner-content h1 {
  font-size: 4rem;
  font-family: 'Baloo 2', cursive;
  margin: 0;
}

.banner-content p {
  font-size: 1.6rem;
  font-family: 'Baloo 2', cursive;
  margin: 0 auto;
  text-align: center;
}

.btn-about-more {
  appearance: button;
  backface-visibility: hidden;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid white;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  height: 44px;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  transition: background-color 0.3s ease, filter 0.3s ease;
}



/* Style for floating section */

.toys-section {
  background-image: url('../images/footer-bg.jpg');
  background-size: cover;
  background-position: center;
  padding: 100px 50px 100px 50px;
}

.floating-section {
  position: relative;
  top: -12vh;
  width: 100%;
  box-sizing: border-box;
  z-index: 5;
  display: flex;
  justify-content: center;
}

.toys-cards-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.toy-card {
  background-color: white;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: transform 0.3s ease;
  height: 550px;
  width: 350px;
}

.toy-card:hover {
  transform: scale(1.05);
}

.toy-image {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.toy-title {
  font-size: 18px;
  margin-top: 10px;
  color: #6A0DAD;
}

.toy-description {
  font-size: 14px;
  color: #555;
}

.btn-toys-acquire {
  background-color: #74b652;
  border-radius: 1px;
  border: 1px solid white;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  height: 54px;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  text-align: center;
  transition: background-color 0.3s ease, filter 0.3s ease;

}

.btn-toys-acquire:hover {
  background-color: #5c9141;

}



/* Style for events section */
.events-container {
  background-color: #f8f9fa;
  /* background-color: #f5f5f5;  */
  padding: 100px 200px 100px 200px;
  box-sizing: border-box;
}

.events-title {
  font-size: 2rem;
  margin-bottom: 92px;
  text-align: center;
}

.search-container {
  display: inline-flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.container-search{
  display: inline-flex;
  margin-right: 10px;
}

.stats-search{
  display: inline-flex;
}

.search-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
}

.search-button {
  border: 1px solid #cccccc;
  border-left: none;
  background-color: #6A0DAD;
  color: white;
  padding: 10px 15px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.events-list {
  max-height: 530px;
  overflow-y: auto;
  margin-bottom: 20px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}



.event-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px 10px 15px;
}

.event-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 100px;
  font-weight: bold;
  font-size: 20px;
  color: #28104E;
  /* color: #74b652;  */
  text-align: center;
  margin-right: 25px;


}

.event-image img {
  width: 180px;
  height: 120px;
}

.event-text {
  flex: 1;
  padding: 0 20px;
}

.events-list hr {
  border: none;
  height: 1px;
  background: rgba(0, 0, 0, 0.4);
  margin: 0px;
}

.events-list::-webkit-scrollbar {
  width: 10px;
}

.events-list::-webkit-scrollbar-thumb {
  background-color: #6A0DAD;
}

.events-list::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.filter-select {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.filter-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #ffffff;
  border: none;
  padding: 12px 20px;
  width: 100%;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.filter-select select:focus {
  border-color: none;
  box-shadow: none;
}

.filter-select::after {
  content: '▼';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 12px;
  color: #333;
  pointer-events: none;
}




@media (max-width: 768px) {
  .banner-content h1 {
    font-size: 3rem;
  }

  .banner-content p {
    font-size: 1.2rem;
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .banner-content h1 {
    font-size: 2rem;
  }

  .banner-content p {
    font-size: 1rem;
    max-width: 100%;
  }
}

/* Style for  statistics section */
.statistics-section {
  padding: 0px;
}


.statistics-section {
  position: relative;
  background-color: #74b652;
  width: 100%;
  height: 250px;
}

.stat-box {
  background: rgba(187, 178, 178, 0.05);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center
}



.stat-box .icon {
  font-size: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}

.stat-signal {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.statistics {
  width: 50%;
}

.stat-number {
  font-size: 36px;
  font-weight: bold;
  color: white;
}

.stat-name {
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.statistics-section .row {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 82%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;

}

/* .btn-container {
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
} */

.btn-hire-now {
  width: 200px;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid white;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  height: 44px;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  transition: all 0.4s ease-out;
}


.btn-hire-now:hover {
  opacity: 0.7;
}

/* Style for FAQ section */

.faq-section-container {
  background-image: url('../images/footer-bg.webp');
  background-size: cover;
  background-position: center;
  padding: 60px 50px 60px 50px;
}

.faq-section {
  text-align: center;
  margin: 50px auto;
  max-width: 800px;
}

.faq-header {
  background-color: white;
  color: black;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.faq-header .arrow {
  float: right;
  transition: transform 0.3s;
}

.collapsed .arrow {
  transform: rotate(90deg);
}

.faq-body {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
}

.accordion-item {
  margin-bottom: 20px;
}

.faq-footer {
  margin-top: 30px;
}

.faq-footer p {
  font-size: 18px;
  margin-bottom: 20px;
}

.faq-footer button {
  background-color: #6A0DAD;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, filter 0.3s ease;

}

.faq-footer button:hover {
  background-color: #55068d;
}


/* Style for video section */
.video-text-section {
  width: 100%;
  padding: 50px 0;
  background-color: #f5f5f5;
}

.video-container video {
  width: 100%;
  height: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.text-content {
  padding-left: 30px;
}

@media (max-width: 768px) {
  .text-content {
    padding-left: 0;
    padding-top: 20px;
    text-align: center;
  }
}


/* Style for contact section */

.contact-section {
  padding: 80px 0 80px 0;
}

.contact-section .row {
  justify-content: center;
}


/* Style for footer */

.footer-section ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  background: #151414;
  position: relative;
}

.footer-section {
  background-image: url('assets/images/bg_footer.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: #669c46;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #fff;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #fff;
  line-height: 28px;
}

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}


.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #669c46;
}

.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: #669c46;
}

.footer-widget ul li a {
  color: #fff;
  text-transform: capitalize;
}


.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: #669c46;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #669c46;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}


.footer-social-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.instagram-card {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: white;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: transform 0.3s ease;
  height: 200px;
  width: 100%;
}

.instagram-card:hover {
  transform: scale(1.05);
}


.instagram-post-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  padding-bottom: 100%;
  transition: transform 0.3s ease-in-out;
}



.instagram-post:hover .instagram-post-image {
  transform: scale(1.1);
}

.instagram-card-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
  padding-bottom: 100%;
}

/* Style for btn back to top */

#backToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  background-color: #023E8A;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

#backToTopBtn i {
  color: white;
  font-size: 24px;
  margin: 0;
  padding: 0;
  line-height: normal;
}

#backToTopBtn.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#backToTopBtn.hide {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
}

/* Style for mobile general */


@media (max-width: 768px) {
  .toys-cards-container {
    flex-direction: column;
  }

  .toy-card {
    width: 300px;
    height: 600px;
  }

  .events-container {
    padding: 0;
    padding-bottom: 50px;
  }

  #backToTopBtn {
    right: 35px;
  }

  .container-nav {
    padding: 0;
  }

  .navbar-brand img {
    width: 100px;
    height: 80px;
  }

  .container-nav-contents {
    padding-left: 20px;
    padding-right: 20px;
  }

  .toys-section {
    padding: 20px 40px 20px 40px;
  }

  .video-container video {
    height: fit-content;
  }

  .toys-section {
    background-image: url(../images/footer-bg-without-top-bottom.jpg)
  }

  .title-video-section {
    margin-bottom: 40px !important;
    margin-top: 20px !important;
  }

  .statistics-section .col-3 {
    width: 100%;
    margin-bottom: 20px;
  }

  .statistics-section {
    height: 800px;
  }

  .statistics-section .row {
    left: 53%;
    height: 80%;
    padding: 0px;
    padding-top: 10px;
  }


  .events-title {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .event-item {
    flex-direction: column;
  }

  .events-list {
    max-height: 650px !important;
    margin-top: 30px;
  }

  .stats-search {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .filter-select {
    display: inline-flex;
  }

  .search-container {
    display: flex;
    justify-content: center;
  }

  .container-search {
    display: inline-flex;
    width: fit-content;
  }

  .filter-select {
    width: 100%;
    margin-right: 0px !important;
  }

  .search-input {
    width: fit-content;
    margin-bottom: 10px;
  }

  .search-button {
    height: max-content;
    border-radius: 0px;
  }

  .faq-section-container {
    padding: 40px 20px 40px 20px;
  }

  .faq-section h1 {
    margin-bottom: 30px !important;
  }

  .contact-section {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 30px;
  }

  .contact-form-container {
    margin-bottom: 40px;
  }

  .contact-infos-container {
    margin-bottom: 35px;
  }

  .statistics-section .col-3 {
    padding: 0;
  }

  .contact-infos-container{
    align-content: flex-start !important;
  }

  .fast-acess{
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .event-text{
    margin-top: 20px;
  }

}